
AI step by step/deep-learning-v2-pytorch-master.zip
AI step by step/deep-learning-v2-pytorch-master/attention/Attention_Basics.ipynb
AI step by step/deep-learning-v2-pytorch-master/attention/Attention_Basics_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/attention/images/Context_vector.png
AI step by step/deep-learning-v2-pytorch-master/attention/images/scoring_functions.png
AI step by step/deep-learning-v2-pytorch-master/attention/images/softmax.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/Convolutional_Autoencoder_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/Convolutional_Autoencoder_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/notebook_ims/autoencoder_1.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/notebook_ims/autoencoder_denoise.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/notebook_ims/compressed.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/notebook_ims/conv_enc_1.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/notebook_ims/conv_enc_2.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/notebook_ims/convolutional_autoencoder.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/notebook_ims/denoising.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/notebook_ims/mnist_examples.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/convolutional-autoencoder/Upsampling_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/autoencoder/denoising-autoencoder/Denoising_Autoencoder_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/autoencoder/denoising-autoencoder/Denoising_Autoencoder_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/autoencoder/denoising-autoencoder/notebook_ims/autoencoder_1.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/denoising-autoencoder/notebook_ims/autoencoder_denoise.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/denoising-autoencoder/notebook_ims/compressed.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/denoising-autoencoder/notebook_ims/denoising.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/denoising-autoencoder/notebook_ims/mnist_examples.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/linear-autoencoder/notebook_ims/autoencoder_1.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/linear-autoencoder/notebook_ims/autoencoder_denoise.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/linear-autoencoder/notebook_ims/compressed.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/linear-autoencoder/notebook_ims/denoising.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/linear-autoencoder/notebook_ims/mnist_examples.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/linear-autoencoder/notebook_ims/simple_autoencoder.png
AI step by step/deep-learning-v2-pytorch-master/autoencoder/linear-autoencoder/Simple_Autoencoder_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/autoencoder/linear-autoencoder/Simple_Autoencoder_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/batch-norm/Batch_Normalization.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/cifar-cnn/cifar10_cnn_augmentation.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/cifar-cnn/cifar10_cnn_exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/cifar-cnn/cifar10_cnn_solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/cifar-cnn/model_augmented.pt
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/cifar-cnn/model_cifar.pt
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/cifar-cnn/notebook_ims/2_layer_conv.png
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/cifar-cnn/notebook_ims/cifar_data.png
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/conv_visualization.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/custom_filters.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/data/bridge_trees_example.jpg
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/data/curved_lane.jpg
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/data/sobel_ops.png
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/data/udacity_sdc.png
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/data/white_lines.jpg
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/maxpooling_visualization.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/notebook_ims/CNN_all_layers.png
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/notebook_ims/conv_layer.gif
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/notebook_ims/maxpooling_ex.png
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/notebook_ims/relu_ex.png
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/conv-visualization/notebook_ims/sobel_ops.png
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/mnist-mlp/mnist_mlp_exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/mnist-mlp/mnist_mlp_solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/mnist-mlp/mnist_mlp_solution_with_validation.ipynb
AI step by step/deep-learning-v2-pytorch-master/convolutional-neural-networks/mnist-mlp/model.pt
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/CycleGAN_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/CycleGAN_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/helpers.py
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/cycle_consistency_ex.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/cyclegan_generator_ex.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/CycleGAN_loss.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/discriminator_layers.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/horse2zebra.jpg
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/reconstruction_error.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/resnet_50.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/resnet_block.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/sample-004000-summer2winter.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/training_cycle_ex.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/notebook_images/XY_season_images.png
AI step by step/deep-learning-v2-pytorch-master/cycle-gan/samples_cyclegan/samples_dir.txt
AI step by step/deep-learning-v2-pytorch-master/dcgan-svhn/assets/conv_discriminator.png
AI step by step/deep-learning-v2-pytorch-master/dcgan-svhn/assets/conv_generator.png
AI step by step/deep-learning-v2-pytorch-master/dcgan-svhn/assets/svhn_dcgan.png
AI step by step/deep-learning-v2-pytorch-master/dcgan-svhn/assets/SVHN_examples.png
AI step by step/deep-learning-v2-pytorch-master/dcgan-svhn/DCGAN_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/dcgan-svhn/DCGAN_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/gan-mnist/assets/gan_network.png
AI step by step/deep-learning-v2-pytorch-master/gan-mnist/assets/gan_pipeline.png
AI step by step/deep-learning-v2-pytorch-master/gan-mnist/assets/leaky_relu.png
AI step by step/deep-learning-v2-pytorch-master/gan-mnist/assets/tanh_fn.png
AI step by step/deep-learning-v2-pytorch-master/gan-mnist/MNIST_GAN_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/gan-mnist/MNIST_GAN_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-neural-networks/gradient-descent/data.csv
AI step by step/deep-learning-v2-pytorch-master/intro-neural-networks/gradient-descent/GradientDescent.ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-neural-networks/gradient-descent/GradientDescentSolutions.ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-neural-networks/student-admissions/student_data.csv
AI step by step/deep-learning-v2-pytorch-master/intro-neural-networks/student-admissions/StudentAdmissions.ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-neural-networks/student-admissions/StudentAdmissionsSolutions.ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/activation.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/autoencoder_1.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/backprop_diagram.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/cat.70.jpg
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/cat_cropped.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/conv_net.jpg
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/dog.128.jpg
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/dog_cat.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/examples_new.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/fashion-mnist-sprite.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/full_padding_no_strides_transposed.gif
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/function_approx.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/gradient_descent.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/image_distribution.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/ImageNet_example.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/infographic.pdf
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/lenet.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/mlp_mnist.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/mnist.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/multilayer_diagram_weights.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/network_diagram.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/overfitting.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/padding_strides.gif
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/Pooling_Simple_max.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/simple_neuron.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/tensor_examples.svg
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/test_examples.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/train_examples.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/assets/w1_backprop_graph.png
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/fc_model.py
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/helper.py
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 1 - Tensors in PyTorch (Exercises).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 1 - Tensors in PyTorch (Solution).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 2 - Neural Networks in PyTorch (Exercises).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 2 - Neural Networks in PyTorch (Solution).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 3 - Training Neural Networks (Exercises).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 3 - Training Neural Networks (Solution).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 4 - Fashion-MNIST (Exercises).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 4 - Fashion-MNIST (Solution).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 5 - Inference and Validation (Exercises).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 5 - Inference and Validation (Solution).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 6 - Saving and Loading Models.ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 7 - Loading Image Data (Exercises).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 7 - Loading Image Data (Solution).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 8 - Transfer Learning (Exercises).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/Part 8 - Transfer Learning (Solution).ipynb
AI step by step/deep-learning-v2-pytorch-master/intro-to-pytorch/README.md
AI step by step/deep-learning-v2-pytorch-master/keras/cifar10-augmentation/aug_model.weights.best.hdf5
AI step by step/deep-learning-v2-pytorch-master/keras/cifar10-augmentation/cifar10_augmentation.ipynb
AI step by step/deep-learning-v2-pytorch-master/keras/cifar10-classification/cifar10_cnn.ipynb
AI step by step/deep-learning-v2-pytorch-master/keras/cifar10-classification/cifar10_mlp.ipynb
AI step by step/deep-learning-v2-pytorch-master/keras/cifar10-classification/MLP.weights.best.hdf5
AI step by step/deep-learning-v2-pytorch-master/keras/cifar10-classification/model.weights.best.hdf5
AI step by step/deep-learning-v2-pytorch-master/keras/IMDB-keras/IMDB_In_Keras.ipynb
AI step by step/deep-learning-v2-pytorch-master/keras/IMDB-keras/IMDB_In_Keras_Solutions.ipynb
AI step by step/deep-learning-v2-pytorch-master/keras/mnist-mlp/mnist.model.best.hdf5
AI step by step/deep-learning-v2-pytorch-master/keras/mnist-mlp/mnist_mlp.ipynb
AI step by step/deep-learning-v2-pytorch-master/keras/student-admissions-keras/student_data.csv
AI step by step/deep-learning-v2-pytorch-master/keras/student-admissions-keras/StudentAdmissionsKeras.ipynb
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/bottleneck_features.ipynb
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/dogvgg16.weights.best.hdf5
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/figures/vgg16.png
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/figures/vgg16_transfer.png
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/images/American_water_spaniel_00648.jpg
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/images/Brittany_02625.jpg
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/images/Curly-coated_retriever_03896.jpg
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/images/Labrador_retriever_06449.jpg
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/images/Labrador_retriever_06455.jpg
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/images/Labrador_retriever_06457.jpg
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/images/sopa.jpg
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/images/Welsh_springer_spaniel_08203.jpg
AI step by step/deep-learning-v2-pytorch-master/keras/transfer-learning/transfer_learning.ipynb
AI step by step/deep-learning-v2-pytorch-master/LICENSE
AI step by step/deep-learning-v2-pytorch-master/project-bikesharing/.udacity-pa/projects.py
AI step by step/deep-learning-v2-pytorch-master/project-bikesharing/assets/neural_network.png
AI step by step/deep-learning-v2-pytorch-master/project-bikesharing/Bike-Sharing-Dataset/day.csv
AI step by step/deep-learning-v2-pytorch-master/project-bikesharing/Bike-Sharing-Dataset/hour.csv
AI step by step/deep-learning-v2-pytorch-master/project-bikesharing/Bike-Sharing-Dataset/Readme.txt
AI step by step/deep-learning-v2-pytorch-master/project-bikesharing/my_answers.py
AI step by step/deep-learning-v2-pytorch-master/project-bikesharing/Predicting_bike_sharing_data.ipynb
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/dog_app.ipynb
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/haarcascades/haarcascade_frontalface_alt.xml
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/American_water_spaniel_00648.jpg
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/Brittany_02625.jpg
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/Curly-coated_retriever_03896.jpg
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/Labrador_retriever_06449.jpg
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/Labrador_retriever_06455.jpg
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/Labrador_retriever_06457.jpg
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/sample_cnn.png
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/sample_dog_output.png
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/sample_human_output.png
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/images/Welsh_springer_spaniel_08203.jpg
AI step by step/deep-learning-v2-pytorch-master/project-dog-classification/README.md
AI step by step/deep-learning-v2-pytorch-master/project-face-generation/assets/processed_face_data.png
AI step by step/deep-learning-v2-pytorch-master/project-face-generation/dlnd_face_generation.ipynb
AI step by step/deep-learning-v2-pytorch-master/project-face-generation/problem_unittests.py
AI step by step/deep-learning-v2-pytorch-master/project-tv-script-generation/data/Seinfeld_Scripts.txt
AI step by step/deep-learning-v2-pytorch-master/project-tv-script-generation/dlnd_tv_script_generation.ipynb
AI step by step/deep-learning-v2-pytorch-master/project-tv-script-generation/helper.py
AI step by step/deep-learning-v2-pytorch-master/project-tv-script-generation/problem_unittests.py
AI step by step/deep-learning-v2-pytorch-master/README.md
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/char-rnn/assets/charRNN.png
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/char-rnn/assets/charRNN@0.5x.png
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/char-rnn/assets/charseq.jpeg
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/char-rnn/assets/sequence_batching.png
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/char-rnn/assets/sequence_batching@1x.png
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/char-rnn/assets/sequence_batching_ex.png
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/char-rnn/Character_Level_RNN_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/char-rnn/Character_Level_RNN_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/char-rnn/data/anna.txt
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/time-series/assets/time_prediction.png
AI step by step/deep-learning-v2-pytorch-master/recurrent-neural-networks/time-series/Simple_RNN.ipynb
AI step by step/deep-learning-v2-pytorch-master/requirements.txt
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/labels.txt
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/reviews.txt
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/Sentiment_Classification_Projects.ipynb
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/Sentiment_Classification_Solutions.ipynb
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/Sentiment_Classification_Solutions_2_Better_Weight_Initialization.ipynb
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/sentiment_network.png
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/sentiment_network_2.png
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/sentiment_network_pos.png
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/sentiment_network_sparse.png
AI step by step/deep-learning-v2-pytorch-master/sentiment-analysis-network/sentiment_network_sparse_2.png
AI step by step/deep-learning-v2-pytorch-master/sentiment-rnn/assets/network_diagram.png
AI step by step/deep-learning-v2-pytorch-master/sentiment-rnn/assets/outliers_padding_ex.png
AI step by step/deep-learning-v2-pytorch-master/sentiment-rnn/assets/reviews_ex.png
AI step by step/deep-learning-v2-pytorch-master/sentiment-rnn/data/labels.txt
AI step by step/deep-learning-v2-pytorch-master/sentiment-rnn/data/reviews.txt
AI step by step/deep-learning-v2-pytorch-master/sentiment-rnn/Sentiment_RNN_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/sentiment-rnn/Sentiment_RNN_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/ben_passmore.jpg
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/delaunay.jpg
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/hockney.jpg
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/janelle.png
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/kahlo.jpg
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/magritte.jpg
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/octavia.jpg
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/octopus.jpg
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/sotomayor.jpg
AI step by step/deep-learning-v2-pytorch-master/style-transfer/images/space_needle.jpg
AI step by step/deep-learning-v2-pytorch-master/style-transfer/notebook_ims/style_tx_cat.png
AI step by step/deep-learning-v2-pytorch-master/style-transfer/notebook_ims/vgg19_convlayers.png
AI step by step/deep-learning-v2-pytorch-master/style-transfer/Style_Transfer_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/style-transfer/Style_Transfer_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/tensorflow/intro-to-tensorflow/environment.yml
AI step by step/deep-learning-v2-pytorch-master/tensorflow/intro-to-tensorflow/environment_win.yml
AI step by step/deep-learning-v2-pytorch-master/tensorflow/intro-to-tensorflow/image/Learn_Rate_Tune_Image.png
AI step by step/deep-learning-v2-pytorch-master/tensorflow/intro-to-tensorflow/image/Mean_Variance_Image.png
AI step by step/deep-learning-v2-pytorch-master/tensorflow/intro-to-tensorflow/image/network_diagram.png
AI step by step/deep-learning-v2-pytorch-master/tensorflow/intro-to-tensorflow/image/notmnist.png
AI step by step/deep-learning-v2-pytorch-master/tensorflow/intro-to-tensorflow/intro_to_tensorflow.ipynb
AI step by step/deep-learning-v2-pytorch-master/tensorflow/intro-to-tensorflow/intro_to_tensorflow_solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/tensorflow/intro-to-tensorflow/requirements.txt
AI step by step/deep-learning-v2-pytorch-master/transfer-learning/notebook_ims/vgg_16_architecture.png
AI step by step/deep-learning-v2-pytorch-master/transfer-learning/Transfer_Learning_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/transfer-learning/Transfer_Learning_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/weight-initialization/helpers.py
AI step by step/deep-learning-v2-pytorch-master/weight-initialization/notebook_ims/loss_comparison_ex.png
AI step by step/deep-learning-v2-pytorch-master/weight-initialization/notebook_ims/neural_net.png
AI step by step/deep-learning-v2-pytorch-master/weight-initialization/notebook_ims/neuron_weights.png
AI step by step/deep-learning-v2-pytorch-master/weight-initialization/weight_initialization_exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/weight-initialization/weight_initialization_solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/assets/context_drink.png
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/assets/lookup_matrix.png
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/assets/neg_sampling_loss.png
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/assets/one_hot_encoding.png
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/assets/skip_gram_arch.png
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/assets/tokenize_lookup.png
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/assets/two_vectors.png
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/assets/vector_distance.png
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/assets/word2vec_architectures.png
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/data/download_data.txt
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/Negative_Sampling_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/Negative_Sampling_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/Skip_Grams_Exercise.ipynb
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/Skip_Grams_Solution.ipynb
AI step by step/deep-learning-v2-pytorch-master/word2vec-embeddings/utils.py
